<div style="margin-top: 20px">
  <%= image_tag(pictures.image, :alt => pictures.alt_text, :class => 'center_image') %>
  <p class="text-align:center" style="margin-top:10px"><%= pictures.caption %></p>
</div>
