<div style="margin-top: 20px">
  <%= image_tag(uploaded_picture.image, :alt => uploaded_picture.alt_text, :class => 'center_image') %>
  <p class="text-center" style="margin-top:10px"><%= uploaded_picture.caption %></p>
</div>

<div style="text-align: center;margin-top:20px">
  <%= link_to "Delete picture", page_path(image: uploaded_picture.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
</div>
<br>
