<h1>Pages</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= page.content %></td>
          <td><%= link_to 'Show', page, :class => 'btn btn-primary'  %></td>
          <td><%= link_to 'Edit', edit_page_path(page), :class => 'btn btn-primary'  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
