<div class="row" class="center_image">
  <h1>
    <%= @page.title %>
  </h1>
  <p class="desc">
    <%= @page.content %>
  </p>
  <%= render partial: "uploaded_picture", collection: @page.pictures %>
</div>
