<h1>News</h1>

<%
news = {
  "dentition1" => "the arrangement or condition of the teeth in a particular species or individual.
  the arrangement or condition of the teeth in a particular species or individual.the arrangement or condition of the teeth in a particular species or individual.
  the arrangement or condition of the teeth in a particular species or individual.the arrangement or condition of the teeth in a particular species or individual.
  the arrangement or condition of the teeth in a particular species or individual.the arrangement or condition of the teeth in a particular species or individual.
  the arrangement or condition of the teeth in a particular species or individual.the arrangement or condition of the teeth in a particular species or individual.",
  "dentition2" => "the arrangement or condition of the teeth in a particular species or individual.",
  "dentition3" => "the arrangement or condition of the teeth in a particular species or individual."
}
%>

<% news.each do |title,content| %>
  <div class="panel panel-info">
    <div class="panel-heading"><h4 class="panel-title"><%= "#{title}" %></h4></div>
    <div class="panel-body">
      <div class="panel-text" style="text-align:justify"><%= "#{content}" %></div>
    </div>
  </div>
<% end %>
