<h1>Total of dentists and patients</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Patients</th>
      <th scope="col">Dentists</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @patient_max %></td>
      <td><%= @dentist_max %></td>
    </tr>
  </tbody>
</table>
</div>
